<ion-app>
  <ion-menu side="end" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ionic Music App</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="">
            <ion-icon name="musical-note" slot="start"></ion-icon>
            <ion-label>Music Library</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/favourite">
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Your Favourite Songs</ion-label>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
